<%= render partial: "dashboard/links", locals: {} %>

<h1>My Followers</h1>

<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </thead>
  <tbody>
  <% @my_followers.each do |f| %>
  <tr>
    <td><%=f.follower.first_name %></td>
    <td><%=f.follower.last_name %></td>
    <td><%=f.follower.email %></td>
  </tr>
  <% end %>
  </tbody>
</table>